<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Sober Blog{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1><a href="{% url 'post_list' %}">My Blog</a></h1>
    <nav>
      {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

      <a href="{% url 'post_list' %}">Home</a> |
      {% if user.is_authenticated %}
      <span>Welcome, {{ user.username }}!</span>
      <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'account_login' %}">Login</a>
      <a href="{% url 'account_signup' %}">Register</a>
    <a href="{% url 'post_create' %}">New Post</a>
{% endif %}
    </nav>
  </header>

  <main>{% block content %}{% endblock %}</main>
</body>
</html>
