{% extends "blog/base.html" %}

{% block content %}
  <h2 class="mb-4">Latest Posts</h2>

  {% if user.is_authenticated %}
    <a href="{% url 'post_create' %}" class="btn btn-dark mb-4">+ Create Post</a>
  {% endif %}

  {% for post in posts %}
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        </h5>
        <p class="card-text">{{ post.content|truncatewords:30 }}</p>
        <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary">Read more</a>
      </div>
      <div class="card-footer text-muted">
        Posted by {{ post.author.username }} on {{ post.created_at|date:"F j, Y" }}
        <p>Last updated: {{ post.updated }}</p>
        <p>{{ post.comments.count }} Comments</p>



      </div>
    </div>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}
  {% include "pagination.html" with page=posts %}
{% endblock %}

