{% extends 'blog/base.html' %}

{% block content %}
  <article class="post-detail">
    <p class="meta">
      {% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top rounded-top" alt="{{ post.title }}">
{% endif %}

    {{ post.created_at|date:"F j, Y" }}<br>
    🖊️ Written by: {{ post.author}}
    <p>Last updated: {{ post.updated }}</p>

    </p>
    <p class="text-muted small mb-1">
      {% if post.category %}
  {{ post.category.name }}
{% else %}
  General
{% endif %}

    </p>

    <h2>{{ post.title }}</h2>

    
    <div class="post-body">
      <p>{{ post.content|linebreaks }}</p>
    </div>
    <h2>Comments</h2>
    {% if comments %}
      {% for comment in comments %}
        <div>
          <strong>{{ comment.name }}</strong> on {{ comment.created|date:"M d, Y" }} said:
          <p>{{ comment.body }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p>No comments yet.</p>
    {% endif %}
    
    <hr>
    
    <h2>Leave a Comment</h2>
    
    {% if new_comment %}
      <p><strong>Thank you for your comment!</strong> It has been posted.</p>
    {% else %}
      <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Post Comment</button>
      </form>
    {% endif %}


    {% if user == post.author %}
      <div class="post-actions">
        <a class="btn" href="{% url 'post_edit' post.id %}">Edit</a>
        <a class="btn danger" href="{% url 'post_delete' post.id %}">Delete</a>
      </div>
    {% endif %}
  </article>
{% endblock %}
